# pandas

additional tips and tricks

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'datetime':['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-05'],
       'value':[1,2,3,4,5]}

In [3]:
df = pd.DataFrame(data)
df

     datetime  value
0  2020-01-01      1
1  2020-01-02      2
2  2020-01-03      3
3  2020-01-04      4
4  2020-01-05      5

## cutting into bins

In [4]:
my_array = np.array([1, 7, 5, 4, 6, 3])
my_array

array([1, 7, 5, 4, 6, 3])

In [5]:
cut_array = pd.cut(my_array, bins = 3)
cut_array

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

## get index of rows with a condition

In [6]:
# 1 condition
index_no = df.index[df['datetime'] == '2020-01-02']
index_no

Int64Index([1], dtype='int64')

In [7]:
# get as integer
index_no[0]

1

In [8]:
# multiple conditions
index_nos = df.index[(df['datetime'] == '2020-01-02') | (df['datetime'] == '2020-01-03')]
index_nos

Int64Index([1, 2], dtype='int64')

In [9]:
indexes = index_nos.values
indexes

array([1, 2])

## datetime slicing

In [10]:
# must set datetime column as index first
df.set_index('datetime',inplace=True)
df

            value
datetime
2020-01-01      1
2020-01-02      2
2020-01-03      3
2020-01-04      4
2020-01-05      5

In [11]:
df['2020-01-02':'2020-01-04']

            value
datetime
2020-01-02      2
2020-01-03      3
2020-01-04      4