# Print methods

In [1]:
x = 1
y = 2.3

In [2]:
'x: %8.3f y: %i' % (x,y)
# %1.3 refers to 8 spaces in front of decimal, and 3 decimals places
# %i refers to integer

'x:    1.000 y: 2'

In [3]:
f'x = {x}, y = {y}'

'x = 1, y = 2.3'

In [4]:
'x: ' + str(x) + ' y: ' + str(y)

'x: 1 y: 2.3'

In [5]:
'x: {} y: {}'.format(x,y)

'x: 1 y: 2.3'

In [6]:
# with indexes
'x: {1} y: {0}'.format(x,y)

'x: 2.3 y: 1'

In [7]:
print('x and y = ', x, y)

x and y =  1 2.3

In [8]:
# %i = integer
'John is %i years old' % 23

'John is 23 years old'

In [9]:
'John is %i years old and %.1fm tall' % (23, 1.72)

'John is 23 years old and 1.7m tall'

In [10]:
person = 'John'

In [11]:
# %s = string, use tuple for more than 1 variable
'%s is %i years old' % (person, 23)

'John is 23 years old'

In [12]:
# inbuilt sep arg
print('hello','world',sep='\n')

hello
world